doctype
html
  head
    title Voix
    meta(charset='utf-8')
    meta(name='description'
      content='ТОО Voix, Разработка программного обеспечения и сайтов, г.Алматы, Казахстан')
    meta(name='keywords'
      content='Разработка, программное обеспечение, автоматизация, сайты, Алматы, Казахстан')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='google-site-verification'
      content='AUJxZrPDffY5MZKZ_w4EReCf2PYSCJAeQpvz6lqavNQ')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'
      rel='stylesheet')
    link(rel='stylesheet' href='/assets/css/main.css')
    <!--[if lt IE 9]>
    script(src='/assets/js/html5shiv.js')
    <![enif]-->
  body
    header
      .voix-brand
      //- a.language-switcher.en(href='/en') EN
    .content
      section.about
        .columns
          .column
            //- h2 О нас
            p Мы &mdash; активная и развивающаяся команда разработчиков, базирующаяся в г.Алматы, Казахстан.
      section.one
        .columns(data-scroll-reveal)
            .column.left
              h2 Наши приоритеты
              p
                i.fa.fa-check
                b  Качественное ПО.
                |  Мы специализируемся на создании корпоративного ПО любой сложности.
              p
                i.fa.fa-check
                b  Удобство.
                |  При разработке мы делаем основной упор на удобство для конечного пользователя.
              p
                i.fa.fa-check
                b  Быстрая реакция.
                |  Акцент на скорости установки, обновления и настройки нашего ПО.
              p
                i.fa.fa-check
                b  Быть на острие прогресса.
                |  Мы очень любим пробовать все новое и стараемся всегда находиться на острие прогресса.
            .column.right
              img(src='/assets/img/about.png' alt='Рабочая среда')
      section.two
        .columns(data-scroll-reveal)
            .column.left
              img(src='/assets/img/workflow.svg' alt='Рабочий процесс')
            .column.right
              h2 Наш опыт
              p
                i.fa.fa-check
                |  Наши специалисты имеют опыт работы с Web и GIS технологиями с 2005 года.
              p
                i.fa.fa-check
                |  Работая для крупных корпоративных заказчиков, мы оптимизировали все наши внутренние
                | процессы.
              p
                i.fa.fa-check
                |  Мы верим что удобство работы наших сотрудников превыше всего, поэтому у нас используются
                | самые новые и совершенные инструменты разработки.
              p
                i.fa.fa-check
                |  Мы большие поклонники книг
                a(href='https://37signals.com/rework/')  Rework
                |  и
                a(href='https://37signals.com/remote/')  Remote
                |  и наша деятельность построена на удаленном взаимодействии между сотрудниками.
      section.three
        .columns
          .column
            h2 Стек используемых нами технологий
      section.four
        .logos(data-scroll-reveal)
          .logo
            a(href='http://nodejs.org')
              img(src='/assets/img/nodejs.svg' title='NodeJS' alt='NodeJS')
          .desc
            a(href='http://nodejs.org')
              h3 NodeJS
            p.
              Идеален для быстрого прототипирования и создания RESTful JSON API.
              С помощью node-webkit можно разрабатывать полноценные десктоп приложения.
              А огромный выбор библиотек с открытым кодом трудно переоценить.
        .logos(data-scroll-reveal)
          .logo
            a(href='http://www.html5rocks.com/')
              img(src='/assets/img/html5.svg' alt='HTML5' title='HTML5')
          .desc
            a(href='http://www.html5rocks.com/', title='HTML5')
              h3 HTML5
            p.
              Мы стараемся ориентироваться на современные браузеры, в которых развита поддержка HTML5,
              это позволяет нам максимизировать удобство пользователей и наших разработчиков,
              а также снизить цены на продукт.
        .logos(data-scroll-reveal)
          .logo
            a(href='http://angularjs.org/')
              img(src='/assets/img/angular.svg' alt='AngularJS' title='AngularJS')
          .desc
            a(href='http://angularjs.org/')
              h3 AngularJS
            p.
              Этот фреймворк от Google уже 2-й год наш постоянный спутник во всех проектах. Его широкие
              возможности тестирования, удобная система модулей и простота нам не оставили выбора.
        .logos(data-scroll-reveal)
          .logo
            a(href='http://golang.org/')
              img(src='/assets/img/golang.svg' alt='Go Language' title='Go Language')
          .desc
            a(href='http://golang.org/')
              h3 Go language
            p.
              Когда нужно написать какой-либо инструмент, установка которого заключается в
              простом копировании исполняемого файла, Go незаменим. Помимо этого, Go очень удобен в
              разработке многопоточных систем.
        .logos(data-scroll-reveal)
          .logo
            a(href='http://java.com')
              img(src='/assets/img/java.svg' alt='Java' title='Java')
          .desc
            a(href='http://java.com/')
              h3 Java
            p.
              Java в наши дни продолжает радовать новыми версиями, а ее возможности обратной совместимости
              отлично подходят для интеграции со старыми системами.
    footer
      .social
        a(href='https://twitter.com/teamvoix')
          span.fa.fa-twitter
        |&nbsp;|&nbsp;
        a(href='mailto:team@voix.io') team@voix.io
      .copy
        | ТОО
        span.voix  Voix
        |, г.Алматы, Казахстан.
    script(src='/assets/js/main.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49275214-1', 'viox.io');
      ga('send', 'pageview');
